@mixin srednji_ekran{
    @media screen and (min-width: 500px) and (max-width: 1200px){
        @content;
        .container{
            main{
                .button-section{
                    button{
                        &.company{
                            margin-right: 1em;
                        }
                    }
                }
                .div-section{
                    height:760px;
                    .div-container{
                        height: 100%;
                        width: 800px;
                        .img-div{
                            width: 100%;
                        }
                        
                    }
                }
                .table-section{
                    table{
                        width: 70%;
                    }
                }
                .form-section{
                    .form-div{
                        flex-direction: column;
                        align-items: center;
                        iframe{
                            width: 50%;
                            height: 300px;
                            margin-bottom: 2em;
                        }
                        form{
                            width: 80%;
                            padding: 1em;
                        }
                    }
                }
            }
        }
    }
}
@mixin mali_ekran{
    @media screen and (max-width: 500px){
        @content;
        body{
            .container{
                overflow-x: hidden;
                header{
                    background: #000;
                }
            }
        }
    }
}